In [0]:
emp_df=(spark
       .read
        .format("csv")
        .option("header","true")
        .load("dbfs:/FileStore/tables/rritec/emp-1.csv")
       )
display(emp_df)

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO
7369,SMITH,CLERK,7902,17-Dec-80,800,null,20
7900,JAMES,CLERK,7698,3-Dec-81,951,null,30
7876,ADAMS,CLERK,7788,23-May-87,1100,null,20
7521,WARD,SALESMAN,7698,22-Feb-81,1250,500,30
7654,MARTIN,SALESMAN,7698,28-Sep-81,1250,1400,30
7934,MILLER,CLERK,7782,23-Jan-82,1300,null,10
7844,TURNER,SALESMAN,7698,8-Sep-81,1500,0,30
7499,ALLEN,SALESMAN,7698,20-Feb-81,1600,300,30
7782,CLARK,MANAGER,7839,9-Jun-81,2450,null,10
7698,BLAKE,MANAGER,7839,1-May-81,2850,null,30
7566,JONES,MANAGER,7839,2-Apr-81,2975,null,20
7788,SCOTT,ANALYST,7566,19-Apr-87,3000,null,20
7902,FORD,ANALYST,7566,3-Dec-81,3000,null,20
7839,KING,PRESIDENT,null,17-Nov-81,5000,null,10
1234,Ram,Clerk,7566,17-Nov-81,1000,null,50

In [0]:
dept_df=(spark
       .read
        .format("csv")
        .option("header","true")
        .load("dbfs:/FileStore/tables/rritec/dept-2.csv")
       )
display(dept_df)

DEPTNO,DNAME,LOC
10,ACCOUNTING,NEW YORK
20,RESEARCH,DALLAS
30,SALES,CHICAGO
40,OPERATIONS,BOSTON

In [0]:
salgrade_df=(spark
       .read
        .format("csv")
        .option("header","true")
        .load("dbfs:/FileStore/tables/rritec/salgrade.csv")
       )
display(salgrade_df)

GRADE,LOSAL,HISAL
1,700,1200
2,1201,1400
3,1401,2000
4,2001,3000
5,3001,9999

In [0]:
emp_df.createOrReplaceTempView("emp")
dept_df.createOrReplaceTempView("dept")
salgrade_df.createOrReplaceTempView("salgrade")

In [0]:
spark.sql("select * from emp").show()

+-----+------+---------+----+---------+----+----+------+
|EMPNO| ENAME|      JOB| MGR| HIREDATE| SAL|COMM|DEPTNO|
+-----+------+---------+----+---------+----+----+------+
| 7369| SMITH|    CLERK|7902|17-Dec-80| 800|null|    20|
| 7900| JAMES|    CLERK|7698| 3-Dec-81| 951|null|    30|
| 7876| ADAMS|    CLERK|7788|23-May-87|1100|null|    20|
| 7521|  WARD| SALESMAN|7698|22-Feb-81|1250| 500|    30|
| 7654|MARTIN| SALESMAN|7698|28-Sep-81|1250|1400|    30|
| 7934|MILLER|    CLERK|7782|23-Jan-82|1300|null|    10|
| 7844|TURNER| SALESMAN|7698| 8-Sep-81|1500|   0|    30|
| 7499| ALLEN| SALESMAN|7698|20-Feb-81|1600| 300|    30|
| 7782| CLARK|  MANAGER|7839| 9-Jun-81|2450|null|    10|
| 7698| BLAKE|  MANAGER|7839| 1-May-81|2850|null|    30|
| 7566| JONES|  MANAGER|7839| 2-Apr-81|2975|null|    20|
| 7788| SCOTT|  ANALYST|7566|19-Apr-87|3000|null|    20|
| 7902|  FORD|  ANALYST|7566| 3-Dec-81|3000|null|    20|
| 7839|  KING|PRESIDENT|null|17-Nov-81|5000|null|    10|
| 1234|   Ram|    Clerk|7566|17-Nov-81|1000|null|    50|
+-----+------+---------+----+---------+----+----+------+

In [0]:
spark.sql("select * from dept").show()

+------+----------+--------+
|DEPTNO|     DNAME|     LOC|
+------+----------+--------+
|    10|ACCOUNTING|NEW YORK|
|    20|  RESEARCH|  DALLAS|
|    30|     SALES| CHICAGO|
|    40|OPERATIONS|  BOSTON|
+------+----------+--------+

In [0]:
spark.sql("select * from salgrade").show()

+-----+-----+-----+
|GRADE|LOSAL|HISAL|
+-----+-----+-----+
|    1|  700| 1200|
|    2| 1201| 1400|
|    3| 1401| 2000|
|    4| 2001| 3000|
|    5| 3001| 9999|
+-----+-----+-----+

# 1. Inner Join

In [0]:
spark.sql("""select Ename,Job,sal,emp.deptno,dname,Loc 
             from emp inner join dept
             on  emp.deptno=dept.deptno
          """).show()

+------+---------+----+------+----------+--------+
| Ename|      Job| sal|deptno|     dname|     Loc|
+------+---------+----+------+----------+--------+
| SMITH|    CLERK| 800|    20|  RESEARCH|  DALLAS|
| JAMES|    CLERK| 951|    30|     SALES| CHICAGO|
| ADAMS|    CLERK|1100|    20|  RESEARCH|  DALLAS|
|  WARD| SALESMAN|1250|    30|     SALES| CHICAGO|
|MARTIN| SALESMAN|1250|    30|     SALES| CHICAGO|
|MILLER|    CLERK|1300|    10|ACCOUNTING|NEW YORK|
|TURNER| SALESMAN|1500|    30|     SALES| CHICAGO|
| ALLEN| SALESMAN|1600|    30|     SALES| CHICAGO|
| CLARK|  MANAGER|2450|    10|ACCOUNTING|NEW YORK|
| BLAKE|  MANAGER|2850|    30|     SALES| CHICAGO|
| JONES|  MANAGER|2975|    20|  RESEARCH|  DALLAS|
| SCOTT|  ANALYST|3000|    20|  RESEARCH|  DALLAS|
|  FORD|  ANALYST|3000|    20|  RESEARCH|  DALLAS|
|  KING|PRESIDENT|5000|    10|ACCOUNTING|NEW YORK|
+------+---------+----+------+----------+--------+

# 2. Left Outer Join

In [0]:
spark.sql("""select Ename,Job,sal,emp.deptno,dname,Loc 
             from emp left outer join dept
             on  emp.deptno=dept.deptno
          """).show()

+------+---------+----+------+----------+--------+
| Ename|      Job| sal|deptno|     dname|     Loc|
+------+---------+----+------+----------+--------+
| SMITH|    CLERK| 800|    20|  RESEARCH|  DALLAS|
| JAMES|    CLERK| 951|    30|     SALES| CHICAGO|
| ADAMS|    CLERK|1100|    20|  RESEARCH|  DALLAS|
|  WARD| SALESMAN|1250|    30|     SALES| CHICAGO|
|MARTIN| SALESMAN|1250|    30|     SALES| CHICAGO|
|MILLER|    CLERK|1300|    10|ACCOUNTING|NEW YORK|
|TURNER| SALESMAN|1500|    30|     SALES| CHICAGO|
| ALLEN| SALESMAN|1600|    30|     SALES| CHICAGO|
| CLARK|  MANAGER|2450|    10|ACCOUNTING|NEW YORK|
| BLAKE|  MANAGER|2850|    30|     SALES| CHICAGO|
| JONES|  MANAGER|2975|    20|  RESEARCH|  DALLAS|
| SCOTT|  ANALYST|3000|    20|  RESEARCH|  DALLAS|
|  FORD|  ANALYST|3000|    20|  RESEARCH|  DALLAS|
|  KING|PRESIDENT|5000|    10|ACCOUNTING|NEW YORK|
|   Ram|    Clerk|1000|    50|      null|    null|
+------+---------+----+------+----------+--------+

# 3. Right Outer Join

In [0]:
spark.sql("""select Ename,Job,sal,emp.deptno,dname,Loc 
             from emp right outer join dept
             on  emp.deptno=dept.deptno
          """).show()

+------+---------+----+------+----------+--------+
| Ename|      Job| sal|deptno|     dname|     Loc|
+------+---------+----+------+----------+--------+
|  KING|PRESIDENT|5000|    10|ACCOUNTING|NEW YORK|
| CLARK|  MANAGER|2450|    10|ACCOUNTING|NEW YORK|
|MILLER|    CLERK|1300|    10|ACCOUNTING|NEW YORK|
|  FORD|  ANALYST|3000|    20|  RESEARCH|  DALLAS|
| SCOTT|  ANALYST|3000|    20|  RESEARCH|  DALLAS|
| JONES|  MANAGER|2975|    20|  RESEARCH|  DALLAS|
| ADAMS|    CLERK|1100|    20|  RESEARCH|  DALLAS|
| SMITH|    CLERK| 800|    20|  RESEARCH|  DALLAS|
| BLAKE|  MANAGER|2850|    30|     SALES| CHICAGO|
| ALLEN| SALESMAN|1600|    30|     SALES| CHICAGO|
|TURNER| SALESMAN|1500|    30|     SALES| CHICAGO|
|MARTIN| SALESMAN|1250|    30|     SALES| CHICAGO|
|  WARD| SALESMAN|1250|    30|     SALES| CHICAGO|
| JAMES|    CLERK| 951|    30|     SALES| CHICAGO|
|  null|     null|null|  null|OPERATIONS|  BOSTON|
+------+---------+----+------+----------+--------+

# 4. Full Outer Join

In [0]:
spark.sql("""select Ename,Job,sal,emp.deptno,dname,Loc 
             from emp full outer join dept
             on  emp.deptno=dept.deptno
          """).show()

+------+---------+----+------+----------+--------+
| Ename|      Job| sal|deptno|     dname|     Loc|
+------+---------+----+------+----------+--------+
|MILLER|    CLERK|1300|    10|ACCOUNTING|NEW YORK|
| CLARK|  MANAGER|2450|    10|ACCOUNTING|NEW YORK|
|  KING|PRESIDENT|5000|    10|ACCOUNTING|NEW YORK|
| SMITH|    CLERK| 800|    20|  RESEARCH|  DALLAS|
| ADAMS|    CLERK|1100|    20|  RESEARCH|  DALLAS|
| JONES|  MANAGER|2975|    20|  RESEARCH|  DALLAS|
| SCOTT|  ANALYST|3000|    20|  RESEARCH|  DALLAS|
|  FORD|  ANALYST|3000|    20|  RESEARCH|  DALLAS|
| JAMES|    CLERK| 951|    30|     SALES| CHICAGO|
|  WARD| SALESMAN|1250|    30|     SALES| CHICAGO|
|MARTIN| SALESMAN|1250|    30|     SALES| CHICAGO|
|TURNER| SALESMAN|1500|    30|     SALES| CHICAGO|
| ALLEN| SALESMAN|1600|    30|     SALES| CHICAGO|
| BLAKE|  MANAGER|2850|    30|     SALES| CHICAGO|
|  null|     null|null|  null|OPERATIONS|  BOSTON|
|   Ram|    Clerk|1000|    50|      null|    null|
+------+---------+----+------+----------+--------+

# 5. Non Equi Join

In [0]:
spark.sql("""select Ename,Job,sal,grade
             from emp,salgrade
             where sal>=losal and sal<=hisal
          """).show()

# 6. Cross Join

In [0]:
spark.sql("""select Ename,Job,sal,grade
             from emp,salgrade
             where sal>=losal and sal<=hisal
          """).show()

# Group By

In [0]:
spark.sql("""select dname, sum(sal) as total_sal from emp,dept
          where emp.deptno=dept.deptno
          group by dname""").show()

+----------+---------+
|     dname|total_sal|
+----------+---------+
|     SALES|   9401.0|
|  RESEARCH|  10875.0|
|ACCOUNTING|   9750.0|
+----------+---------+